body {
    background-image: url('IMG/inicio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

body.contact-page {
    background-image: url('IMG/fondo-inicio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    /* Cambia el color del texto para que sea legible en el fondo oscuro */
}

.jumbotron {
    background-color: (255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 50px;
    border-radius: 10px;
}

.carousel {
    max-width: 600px;
    /* Establece un ancho máximo para el carrusel */
    margin: 0 auto;
    /* Centra el carrusel horizontalmente en la página */
}

.carousel-inner img {
    width: 100%;
    /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto;
    /* Permite que las imágenes se ajusten automáticamente manteniendo su relación de aspecto */
}

.category-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #343a40;
    /* Color de fondo de la lista de categorías */
    padding-top: 20px;
}

.category-list a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}

.category-list a:hover {
    background-color: #007bff;
    /* Color de fondo al pasar el mouse por encima de las categorías */
    color: white;
}